//====================================================================================================

.header {
	padding-top: rem(38);
	padding-bottom: rem(38);

	@media (max-width:$mobileSmall){
		padding-top: rem(15);
		padding-bottom: rem(15); 
	}

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 50;
	transition: all 0.3s ease 0s;
	&._header-scroll {
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__block {
		display: flex;
		justify-content: end;
		align-items: center;
		column-gap: rem(36);
	}

	&__logo {
		position: relative;
		z-index: 50;
		display: flex;
		transition: all 0.4s ease 0s;
		svg {
			width: rem(148);
			height: rem(40);
			object-fit: contain;
			max-width: 100%;
		}

		path {
			transition: all 0.4s ease 0s;
		}

		@media (any-hover: hover){
			&:hover{
				& path {
					fill: $accentColor;
				}
			}
		}
	}

	&__menu {}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: rem(32);
		
		@media (max-width:$tablet){
			display: flex;
			flex-direction: column;
			row-gap: rem(30);
		}
	}

	&__button {
		@media (max-width:$tablet){
			font-size: rem(30);
			line-height: math.div(30, 26);
		}
	}

	&__card {
		
	}

}

.card-header {
	display: flex;
	align-items: center;
	column-gap: rem(5);
	transition: all 0.4s ease 0s;

	&__text {
		font-size: rem(18);
		line-height: math.div(28, 18);
		font-weight: 300;
		letter-spacing: 0.96px;
		color: $mainText;
		@media (max-width:$tablet){
			font-size: rem(30);
			line-height: math.div(34, 30);
		}
	}

	&__quantity {
		background-color: $secondaryColor;
		width: rem(30);
		height: rem(30);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: rem(14);
		line-height: math.div(14, 14);
		font-weight: 500;
		letter-spacing: 0.96px;
		color: $mainText;

		@media (max-width:$tablet){
			font-size: rem(30);
			line-height: math.div(34, 32);
			width: rem(45);
			height: rem(45);
		}
	}
}


.menu {

	&__body {
		@media (max-width:$tablet){
			position: fixed;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			top: 0px;
			left: -100%;
			transition: all 0.3s ease 0s;
			overflow: auto;
			background-color: $mainColor;
			gap: rem(30);
			@include adaptiveValue("padding-top", 150, 90, 768, 320, 2);
			padding-left: rem(15);
			padding-right: rem(15);
			padding-bottom: rem(30);
			&::before {
				content: '';
				position: fixed;
				top: 0px;
				left: -100%;
				transition: all 0.3s ease 0s;
				width: 100%;
				height: rem(116);
				background-color: #141a1d;

				@media (max-width:$mobileSmall){
					height: rem(70); 
				}
			}
			.menu-open & {
				left: 0px;
				&::before {
					left: 0px;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: rem(36);
		@media (max-width:$tablet){
			display: flex;
			flex-direction: column;
		}
	}

	&__item {
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: rem(30);
			}
		}
	}

	&__link {
		font-size: rem(16);
		line-height: math.div(26, 16);
		font-weight: 300;
		letter-spacing: 0em;
		color: $mainText;
		transition: all 0.4s ease 0s;
		@media (max-width:$tablet){
			font-size: rem(32);
			line-height: math.div(38, 32);
		}

		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
				color: $accentColor;
			}
		}
	}

	&__icon {}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 50;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
